#header {
	width: 960px;
	height: 100px;
    margin: 0 calc(50% - 480px);

	#title {
		width: calc(50% - 30px);

		a {
			margin: 35px 0;
			font-size: 3em;
		}
	}

	#navbtns {
		width: calc(50% + 30px);
		float: left;
	}
}

#content {
	width: 940px;
	margin: 100px auto 0;
	padding: 10px;
}

#footer {
	width: 940px;
	margin: 10px auto 0;
}

div.mainpagereport {
	margin-bottom: 1em;
}