body {
	background: #ececec;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	padding-bottom: 30px;
}

a {
	color: #000;
}

ul {
	margin-left: 1.5em;

	li {
		line-height: 1.6em;
		color: orange;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.hide {
	display: none;
}

.error {
	border: 2px solid #f00;
}

#wrapper {
	&:before,
	&:after {
		background: #000;
		width: 50%;
		content: ' ';
		height: 50px;
		position: absolute;
		top: 50px;
		z-index: -1;
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
		background: orange;
	}
}

#content {
	width: 100%;
	margin: 100px auto 0;
	padding: 10px 0;
	background: rgba(255, 255, 255, 0.4);
	font-size: 1.4em;
	overflow: hidden;

	h2 {
		margin: 0.5em auto;
		padding-bottom: 0.5em;
		text-align: center;
		font-size: 2em;
		border-bottom: 1px solid #ececec;
	}
}

.footer {
	width: 100%;
	margin: 10px auto 0;
	text-align: right;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}